---
import BaseHead from "../components/BaseHead.astro";

import { formatoIG,facebookMenu,instagramMenu, xMenu,formatoFB,formatoX,youTubeMenu,formatoYoutube,tiktokMenu,formatoTikTok, linkedInMenu,formatosLinkedin } from "../assets";
import Nav from '../components/Nav.astro'
import CardSocial from '../components/CardSocial.astro'
import { facebookSize, instagramSize, tikTokSize, xSize, youTubeSize,linkedinSize } from "../constant";
import Hero from "../components/Hero.astro";
import Footer from "../components/Footer.astro";
import Navigation from "../components/Navigation.astro";
import Button from '../components/Button.astro'
//Files
const fileFigFa = '/formatos/formatos-facebook.fig'
const filePSDFa = '/formatos/formatos-facebook.psd'
const fileAIFa = '/formatos/formatos-facebook.ai'
const fileFigIn = '/formatos/formatos-instagram.fig'
const filePSDIn = '/formatos/formatos-instagram.psd'
const fileAIIn = '/formatos/formatos-instagram.ai'
const fileFigX = './formatos/formatos-x.fig'
const filePSDX = './formatos/formatos-x.psd'
const fileAIX = './formatos/formatos-x.ai'
const fileFigYou = './formatos/formatos-YouTube.fig'
const filePSDYou = './formatos/formatos-YouTube.psd'
const fileAIYou = './formatos/formatos-YouTube.ai'
const fileFigTik = './formatos/formatos-tiktok.fig'
const filePSDTik = './formatos/formatos-tiktok.psd'
const fileAITik = './formatos/formatos-tiktok.ai'
const fileFigLin = './formatos/formatos-linkedin.fig'
const filePSDLin = './formatos/formatos-linkedin.psd'
const fileAILin = './formatos/formatos-linkedin.ai'
---

<html lang="es">
  <head>
<!-- Google tag (gtag.js) -->
<script type="text/partytown" async src="https://www.googletagmanager.com/gtag/js?id=G-F97GDNXXVJ"></script>
<script type="text/partytown">
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-F97GDNXXVJ');
</script>
    <BaseHead
      title=`Tamaños de Imágenes y Plantillas para Redes Sociales ${new Date().getFullYear()}`
      description="Tamaños de imágenes para redes sociales más plantillas,dimensiones recomendadas,Facebook, Instagram,X(Twitter),TikTok..."
    />
  </head>
  <body>
    <header class="header py-space-l" id="header">
		<Nav/>
    </header>
    <main>
		<Hero/>
		<Navigation/>
	  <section class="mt-space-2xl-3xl">
		  <CardSocial icon={facebookMenu} fileFig={fileFigFa} filePSD={filePSDFa} fileAI={fileAIFa} class:list={'facebookGrid'} id="facebook" redSocial="facebook" img={formatoFB} bg="bg-facebook" sizes={facebookSize}/>
		  <div class="container">
				<div class="box-cta d-flex p-space-m bg-white rounded mt-space-l">
					<p class="size-1 fw-bold">¿Cambio algún formato?</p>
					<a href="/contacto" class="d-flex">
						<Button text="Quiero enterarme" class:list={'bg-purple-dark capitalize fw-bold text-white mt-space-auto'}/>
					</a>
				</div>
			</div>
		</section>
		<section class="mt-space-2xl-3xl">
			<CardSocial icon={instagramMenu} fileFig={fileFigIn} filePSD={filePSDIn} fileAI={fileAIIn} class:list={'instagramGrid'} id="instagram" redSocial="instagram" img={formatoIG} bg="gradient" sizes={instagramSize}/>
			<div class="container">
				<div class="box-cta d-flex p-space-m bg-white rounded mt-space-l">
					<p class="size-1 fw-bold">¿Cambio algún formato?</p>
					<a href="/contacto" class="d-flex">
						<Button text="Quiero enterarme" class:list={'bg-purple-dark capitalize fw-bold text-white mt-space-auto'}/>
					</a>
				</div>
			</div>
		</section>
		<section class="mt-space-2xl-3xl">
			<CardSocial icon={xMenu} fileFig={fileFigX} filePSD={filePSDX} fileAI={fileAIX} class:list={'xGrid'} redSocial="X(Twitter)" id="x" img={formatoX} bg="bg-x" sizes={xSize}/>
			<div class="container">
				<div class="box-cta d-flex p-space-m bg-white rounded mt-space-l">
					<p class="size-1 fw-bold">¿Cambio algún formato?</p>
					<a href="/contacto" class="d-flex">
						<Button text="Quiero enterarme" class:list={'bg-purple-dark capitalize fw-bold text-white mt-space-auto'}/>
					</a>
				</div>
			</div>
		</section>
		<section class="mt-space-2xl-3xl">
			<CardSocial icon={youTubeMenu} fileFig={fileFigYou} filePSD={filePSDYou} fileAI={fileAIYou} class:list={'YoutubeGrid'} redSocial="youTube" id="youTube" img={formatoYoutube} bg="bg-youtube" sizes={youTubeSize}/>
			<div class="container">
				<div class="box-cta d-flex p-space-m bg-white rounded mt-space-l">
					<p class="size-1 fw-bold">¿Cambio algún formato?</p>
					<a href="/contacto" class="d-flex">
						<Button text="Quiero enterarme" class:list={'bg-purple-dark capitalize fw-bold text-white mt-space-auto'}/>
					</a>
				</div>
			</div>
		</section>
		<section class="mt-space-2xl-3xl">
			<CardSocial icon={tiktokMenu} fileFig={fileFigTik} filePSD={filePSDTik} fileAI={fileAITik} class:list={'tiktokGrid'} redSocial="tikTok" id="tiktok" img={formatoTikTok} bg="bg-black" sizes={tikTokSize}/>
			<div class="container">
				<div class="box-cta d-flex p-space-m bg-white rounded mt-space-l">
					<p class="size-1 fw-bold">¿Cambio algún formato?</p>
					<a href="/contacto" class="d-flex">
						<Button text="Quiero enterarme" class:list={'bg-purple-dark capitalize fw-bold text-white mt-space-auto'}/>
					</a>
				</div>
			</div>
		</section>
		<section class="mt-space-2xl-3xl">
			<CardSocial icon={linkedInMenu} fileFig={fileFigLin} filePSD={filePSDLin} fileAI={fileAILin} class:list={'linkedinGrid'} redSocial="linkedin" id="linkedin" img={formatosLinkedin} bg="bg-linkedin" sizes={linkedinSize}/>
			<div class="container">
				<div class="box-cta d-flex p-space-m bg-white rounded mt-space-l">
					<p class="size-1 fw-bold">¿Cambio algún formato?</p>
					<a href="/contacto" class="d-flex">
						<Button text="Quiero enterarme" class:list={'bg-purple-dark capitalize fw-bold text-white mt-space-auto'}/>
					</a>
				</div>
			</div>
		</section>
    </main>
	<footer>
		<Footer/>
	</footer>
  </body>
</html>
