---
import Image from "astro/components/Image.astro";
import { socialMenu } from "../constant";
---
<nav class="navigation |  mt-space-l p-space-s d-flex">
    {
      socialMenu.map((item) => (
        <a href={`#${item.text}`} class="fw-bold size--1 text-purple-dark text-center capitalize decoration">
          <Image
            src={item.icono}
            width={item.icono.width}
            alt={`Icono ${item.text}`}
          />
          {item.text}
        </a>
      ))
    }
  </nav>